<div class = "main_container">
   <div class="flex-parent-element">
      <div class="flex-child-element magenta"><i class='fa fa-comment' style='font-size:15px;font-weight: bold;'><span id="commentsNumber"></span><span>Comments</span></i></div>
      <div class="flex-child-element green"><span class="sortSection">Sort</span><span class="likesSection">Likes</span></div>
   </div>
   <div class="row">
      <div class="column" id="myData">
      </div>
      <div class="column_desktop" id="userLikes">
      </div>
   </div>
</div>